logs
*.log
npm-debug.log*

lib-cov

coverage
*.lcov

.nyc_output

node_modules/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist
build

.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.vscode/

# JetBrains IDE
.idea/
*.iml
